@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    div[visible='true'] {
        @apply scale-100 opacity-100 block;
    }
    div.bgBlur[visible='true'] {
        @apply opacity-35;
    }
    body {
        @apply m-0 bg-bg p-0;
    }
    #hero {
        @apply absolute left-0 top-16 m-0 h-[calc(100vh-4rem)] w-full overflow-hidden bg-black p-0 opacity-100 transition-opacity duration-1000;
    }
    .hero-text-container {
        @apply absolute left-1/2 top-1/4 z-10 -translate-x-1/2 -translate-y-3/4 transform text-center text-white;
    }
    .hero-header {
        @apply text-5xl font-thin text-primary;
    }
    .text-block {
        @apply pt-8 text-justify text-xl leading-8;
    }
    .special-text {
        @apply absolute left-[calc(50vw+1rem)] top-[calc(100vh+3rem)] rotate-12 text-xl text-primary;
    }
    .h1-header {
        @apply pt-16 text-4xl text-black;
    }
    .separator {
        @apply py-4;
    }
    .info-container {
        @apply flex w-full flex-row items-center justify-center gap-16;
    }
    .info-text-left {
        @apply whitespace-nowrap text-right text-lg text-black sm:text-2xl;
    }
    .info-text-right {
        @apply w-full text-left text-lg text-black sm:text-2xl;
    }
    .timetable-container {
        clip-path: polygon(100% 1%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
    }
    .timetable-drop-shadow {
        filter: drop-shadow(5px 5px 0px #000000);
    }
    .url {
        @apply text-blue-700 underline;
    }
}

* {
    font-family: "Roboto", sans-serif;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
